[gerrit]
        basePath = git
        canonicalWebUrl = http://localhost:8080
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
[auth]
        type = HTTP
[sendemail]
	enable = true
        smtpServer = smtp.archermind.com
        smtpServerPort = 25
        smtpUser = mailman
        from = mailman@archermind.com
[its-bugzilla]
        url = http://localhost/bugzilla
        username = gerrit@localhost.com
[commentLink "its-bugzilla"]
        match = \\([Bb][Uu][Gg][ ]*[1-9][0-9]*\\)
        html = <a href=\"http://localhost/show_bug.cgi?id=$1\">$1</a>
        association = SUGGESTED
[httpd]
	listenUrl = proxy-http://*:8080/
