[gerrit]
        basePath = git
        canonicalWebUrl = http://10.20.34.139:8080
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
[auth]
        type = LDAP
[ldap]
	server = ldap://192.168.100.101:389
        accountBase = OU=archermind,DC=archermind,DC=com
        username = cn=csvn,OU=it,OU=archermind,DC=archermind,DC=com
        groupBase = OU=archermind,DC=archermind,DC=com
        accountPattern = (sAMAccountName=${username})
        accountFullName = displayName
[sendemail]
	enable = true
        smtpServer = smtp.archermind.com
        smtpServerPort = 25
        smtpUser = mailman
        from = mailman@archermind.com
[its-bugzilla]
        url = http://localhost
        username = gerrit@localhost.com
[commentLink "its-bugzilla"]
        match = \\([Bb][Uu][Gg][ ]*[1-9][0-9]*\\)
        html = <a href=\"http://localhost/show_bug.cgi?id=$1\">$1</a>
        association = SUGGESTED
